<base href="/" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Rodrigo Graça" />
<meta
	name="description"
	content="Welcome to my new portfolio. Here I will showcase the projects that I've done over the last 8+ years of professional web development work."
/>
<meta
	name="keywords"
	content="rodrigo graça, rodrigo graça portfolio, portfolio, rodrigo graca portfolio, projects"
/>
<link rel="preload" href="assets/css/main.css" as="style" />
<link rel="stylesheet" href="assets/css/main.css" />
<link
	rel="preload"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic&display=swap"
	as="stylesheet"
/>
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic&display=swap"
/>
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
